* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: cursive; */
  /* background-color: beige; */
}

:root {
  --themeRed: rgb(248, 133, 133);
  --grey: grey;
}

html {
  scroll-behavior: smooth;
}


.fullContainer {
  width: 100%;
}

.container {
  width: 1140px;
  margin: auto;
}

.sectionTitle {
  width: 300px;
  border-bottom: 3px solid var(--themeRed);
  text-align: center;
  font-size: 2rem;
  font-weight: 200;
  margin: 0 auto 50px;
  position: relative;
  padding: 10px 0;
  text-transform: uppercase;
}


.sectionTitle::after {
  display: inline-block;
  content: "";
  height: 15px;
  width: 15px;
  background-color: var(--themeRed);
  position: absolute;
  left: calc(50% - 10px);
  top: calc(75% - 7px);
  transform: rotate(45deg) translate(50%, 50%);
  border: 3px solid white;
}

section {
  padding: 100px;
  position: relative;
}

header {
  width: 100%;
  background-color: rgb(0, 0, 0);
  position: fixed;
  z-index: 1;
  /* opacity: 1; */
}

header .container {
  display: flex;
  justify-content: space-between;
}

header .container .logo {
  padding: 15px 0;
  height: 75px;
}

header .container .logo img {
  height: 100%;
}

header nav ul {
  list-style-type: none;
  /* background-color: rgb(133, 133, 133); */
  position: sticky;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  display: inline-block;
  height: 75px;
  line-height: 75px;
  padding: 0 15px;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: bolder;
  color: rgb(255, 0, 0);
  transition: 0.3s;
}

header nav ul li a:hover {
  color: rgb(254, 185, 185);
  cursor: pointer;
  /* font-family: cursive; */
  /* font-weight: 400; */
  text-shadow: 1px 1px 2px rgb(0, 0, 0);

}

.banner {
  min-height: 100vh;
  width: 100%;
  background-image: url(images/banner.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.banner h1 {
  margin-top: 170px;
  display: inline-block;
  font-size: 3.5rem;
  color: rgb(255, 0, 0);
  text-shadow: 0 0 2px rgb(0, 0, 0);
  width: 50%;
  line-height: 4.2rem;
  font-weight: 100;
}

.banner p {
  color: rgb(255, 125, 125);
  width: 50%;
  font-family: cursive;
  font-weight: 400;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  margin-top: 10px;
}

.banner button {
  background-color: rgb(255, 0, 0);
  color: white;
  padding: 10px 15px;
  margin-top: 20px;
  border: 0;
  outline: none;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 10px;
  font-weight: 400;
}


#aboutSection .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  position: relative;
  height: 245px;
}

#aboutSection .cards>div {
  width: 350px;
  background-color: rgb(184, 182, 182);
  padding: 35px;
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 10px;
  height: 215px;
  border: 1px solid black;
  transition: 0.4s;
}

/* #aboutSection .cards> div:hover{
  width: 400px;
  margin-top: -20px;
  border-color: red; 
    
} */

#aboutSection .cards>div .title {
  font-size: 18px;
  font-weight: bolder;
  text-transform: uppercase;
  font-style: italic;

}


#aboutSection .cards>div p {
  font-size: 14px;
  margin-top: 10px;
}

#aboutSection .cards>div button {
  border: 1px solid black;
  outline: none;
  padding: 7px 15px;
  margin-top: 9px;
  font-size: 15px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
}

#aboutSection .cards>div:hover button {
  background-color: red;
  color: white;
}

.gallery .galleryContainer {
  column-count: 4;
  column-gap: 20px;
}

.gallery .galleryContainer .item {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}

.gallery .galleryContainer img {
  width: 100%;
  display: block;
  transition: 0.4s;
}

.gallery .galleryContainer .title {
  position: relative;
  background-color: grey;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
  opacity: 0;
  z-index: 1;
  transition: 0, 4s;
}

.gallery .galleryContainer .item:hover .title {
  opacity: 1;
}

.gallery .galleryContainer .item:hover img {
  transform: scale(1, 2);
}


.programs {
  background-color: rgb(255, 246, 235);
}

.programs .boxContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
}

.programs .boxContainer .box {
  background-color: antiquewhite;
  text-align: center;
  padding-bottom: 25px;
  border-radius: 5px;
  box-shadow: 0 0 3px 0 antiquewhite;
  position: relative;
  margin-bottom: 15px;

}

.programs .boxContainer .box .cardImage {
  width: 100%;
  height: 300px;
  background-position: cover;
  background-size: cover;
  position: relative;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}

.programs .boxContainer .box .cardImage::after {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  filter: grayscale(100%);
  transition: 0.4s;
}

.programs .boxContainer .box:nth-child(1) .cardImage,
.programs .boxContainer .box:nth-child(1) .cardImage:after {
  background-image: url("programs/1.jpg");
}

.programs .boxContainer .box:nth-child(2) .cardImage,
.programs .boxContainer .box:nth-child(2) .cardImage:after {
  background-image: url("programs/2.jpg");
}

.programs .boxContainer .box:nth-child(3) .cardImage,
.programs .boxContainer .box:nth-child(3) .cardImage:after {
  background-image: url("programs/3.jpg");
}

.programs .boxContainer .box:nth-child(4) .cardImage,
.programs .boxContainer .box:nth-child(4) .cardImage:after {
  background-image: url("programs/4.jpg");
}

.programs .boxContainer .box:hover .cardImage:after {
  top: 100%;
  /* transition: 0.8s; */
}

.programs .boxContainer .box .programTitle {
  font-size: 16px;
  margin-top: 15px;
  font-weight: 600;
  color: teal;
}

.programs .boxContainer .box .donationCount {
  font-size: 13px;
  font-weight: 600;
  color: teal;
  margin-top: 10px;
}

.programs .boxContainer .box .donationCount span {
  color: red;
}

.programs .boxContainer .box button {
  position: absolute;
  left: 50%;
  background-color: tomato;
  color: black;
  transform: translate(-50%);
  bottom: -15px;
  border-radius: 60px;
  padding: 7px 15px;
  border: 0;
  outline: none;
  cursor: pointer;
}


.education {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.education .videoPlayer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.education .sectionTitle {
  color: white;
  text-shadow: 0 0 4px black;

}

.education .educationContainer {
  position: absolute;
  background-color: #00000096;
  width: 600px;
  top: 35vh;
  color: whitesmoke;
  text-shadow: 0 0 3px black;
  padding: 30px;

}

.education .educationContainer h3 {
  font-size: 35px;
  font-weight: 300;
}

.education .educationContainer p {
  font-size: 15px;
  line-height: 20px;
  margin: 10px 0 30px;
}

.education .educationContainer button {
  background-color: red;
  border: 0;
  color: white;
  padding: 10px 25px;
  font-weight: bolder;
  font-size: 14px;
  outline: none;
}


.join {
  background-image: url("images/pattern.jpg");
  color: white;
}

.join .joinTitle {
  font-size: 40px;
  font-weight: 100;
}

.join .joinTitle span {
  font-weight: 900;
  font-style: italic;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 3px rgb(0, 0, 0);

}

.join button {
  padding: 7px 15px;
  margin-top: 20px;
  border: 0;
  outline: none;
  font-weight: 500;
  font-size: 16px;

}

.joinNow {
  margin-right: 10px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 0, 0);
}

.adoptBtn {
  background-color: beige;
  color: black;
}

footer {
  background-color: rgb(22, 22, 22);
  color: rgb(252, 215, 170);
  padding: 50px 0;
  font-size: 14px;
}

footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;

}

footer .title {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 2px solid;
  margin-bottom: 30px;
  padding: 0 0 5px 0;
}

footer p {
  margin-bottom: 10px;
}

footer .linksContainer ul li a {
  list-style-type: none;
}

footer .linksContainer ul li a {
  text-decoration: none;
  color: rgb(254, 254, 151);
  margin-bottom: 10px;
  display: inline-block;
}

footer .newsLetterContainer img {
  height: 40px;
  margin-bottom: 11px;
}

footer .newsLetterContainer input {
  background-color: transparent;
  border: 1px solid white;
  outline: none;
  padding: 10px 15px;
  width: 100%;
  margin-top: 10px;
  color: rgb(255, 246, 246);
  border-radius: 20px;
}



@media screen and (max-width: 1140px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }

  .education .videoPlayer {
    width: 1280px;
  }

}

@media screen and (max-width:1080px) {
  .banner h1 {
    margin-top: 200px;
  }

  #aboutSection .cards {
    justify-content: space-around;
    height: auto;
  }

  #aboutSection .cards>div {
    margin: 10px 0;
  }
}

@media screen and (max-width:1024px) {
  .banner {
    background-position-x: 45%;
  }

  .banner h1 {
    font-size: 2.3rem;
  }

  .programs .boxContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width:768px) {
  header nav {
    position: relative;
    border: 2px solid #fff;
    height: 30px;
    width: 30px;
    margin-top: 20px;
    border-radius: 50px;

  }

  header nav:after {
    top: 17px;
  }

  header nav:before {
    top: 7px;
  }

  header nav:after,
  header nav:before {
    content: "";
    height: 2px;
    width: 17px;
    background-color: white;
    display: block;
    position: absolute;
    left: 5px;
  }

  header nav ul {
    position: absolute;
    right: -400px;
    top: 53px;
    transition: 0.5s;
  }

  header nav:hover ul {
    right: 0;
  }

  header nav ul li {
    display: block;
  }

  header nav ul li a {
    width: 300px;
    background-color: black;
  }

  .banner {
    background-position-x: 65%;
  }

  .banner p {
    font-size: 14px;

  }

  .banner p,
  .banner h1 {
    width: 70%;

  }

  #aboutSection .cards>div :hover {
    width: 350px;

  }

  .education .educationContainer {
    width: 96%;
  }

  .education .educationContainer h3 {
    font-size: 30px;
    line-height: 35px;

  }

  .education .educationContainer p {
    margin: 10px 0 20px;
  }

  .gallery .galleryContainer {
    column-count: 2;
  }


}

@media screen and (max-width: 425px) {
  .banner h1 {
    margin-top: 150px;
    font-size: 2rem;
    line-height: 3rem;
  }

  .banner button {
    margin-bottom: 10px;
  }

  #aboutSection p {
    text-align: justify;
  }

  #aboutSection .cards>div:hover {
    width: 400px;
    margin-top: 10px;
    padding: 35px;
  }

  .programs .boxContainer {
    grid-template-columns: 1fr;
  }

  .education .videoPlayer {
    width: 1400px;
  }

  .education .educationContainer {
    width: 93%;
  }

  .gallery .galleryContainer {
    column-count: 1;
  }

  footer .container {
    grid-template-columns: 1fr;
  }
}